<section id="content_wrapper">
  <!-- Start: Topbar-Dropdown-->

  <!-- Start: Topbar-->
  <div id="topbar" class="text-center bg-white alt ph10 br-b-ddd">
    <div>
      <h1>Baja de Remisiones</h1>
    </div>
    
  </div>
  <!-- Begin: Content-->
  <section id="content" class="table-layout">
    <!-- begin: .tray-center-->
    <div class="tray tray-center" style="height: 802px;">
      <!-- create new order panel-->
      <div class="panel  ">
        
        
  
        <div class="panel-body ">
            <div class="section row">
                <div class="col-md-12">
                  
                    <div class="row  text-center element-groups-custom">
                        
                        <div class="bs-¡">
                          <!-- <a routerLink="/nuevo-producto" class="btn btn-rounded btn-system btn-block"> Producto</a> -->
                        </div>
                      </div>

                </div>
                
              </div>
        </div>
  
      </div>
      <!-- recent orders table-->
      <div class="panel">
        <!-- <div class="panel-menu p12 admin-form theme-primary">
          <div class="row">
            <div class="col-md-4">
              <label class="field select">
                <select id="filter-category" name="filter-category" class="empty">
                  <option value="0">Filter by Category</option>
                  <option value="1">Smart Phones</option>
                  <option value="2">Smart Watches</option>
                  <option value="3">Notebooks</option>
                  <option value="4">Desktops</option>
                  <option value="5">Music Players</option>
                </select><i class="arrow"></i>
              </label>
            </div>
            <div class="col-md-4 mt-10 mt-md-0">
              <label class="field select">
                <select id="filter-status" name="filter-status" class="empty">
                  <option value="0">Filter by Status</option>
                  <option value="1">Active</option>
                  <option value="2">Inactive</option>
                  <option value="3">Low Stock</option>
                  <option value="4">Out of Stock</option>
                </select><i class="arrow"></i>
              </label>
            </div>
            <div class="col-md-4 mt-10 mt-md-0">
              <label class="field select">
                <select id="bulk-action" name="bulk-action" class="empty">
                  <option value="0">Actions</option>
                  <option value="1">Edit</option>
                  <option value="2">Delete</option>
                  <option value="3">Active</option>
                  <option value="4">Inactive</option>
                </select><i class="arrow double"></i>
              </label>
            </div>
          </div>
        </div> -->
        <div class="panel-body pn">
          <div class="table-responsive of-y-a">
            <table class="table admin-form theme-warning tc-checkbox-1 fs13">
              <thead>
                <tr class="bg-light">
                  
                  <th>Id</th>
                  <th>Fecha</th>
                  <th>Cliente</th>
                  <th>Proyecto</th>
                  <th>Remisión</th>
                  <th>Empleado</th>
                  

                  <th class="text-right">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr  >
                    
                  <td class="w100">A001</td>
                  <td>Cliente 1<br>Tel: 5555555<br>cliente@gmail.com</td>
                  <td>14-05-19<br>
                    10:37
                    </td>
                   <td>
                    Nombre de proyecto<br>
                    Proyecto num 254
                </td>
                <td>
                  X1232<br>
                </td>
                  <td>Empleado 2</td>
                  <td class="text-right">
                    <div class="btn-group text-right">
                      <button type="button" data-toggle="dropdown" aria-expanded="false"class="btn btn-warning br2 btn-xs fs12 dropdown-toggle" >Pendiente<br> revisión<span class="caret ml15"></span></button>
                      <ul role="menu" class="dropdown-menu">
                        <li><a href="">Revisar</a></li>
                        <li><a >Generar pdf</a></li>
                        <li><a > Ver fotos</a></li>
                        <li><a >Eliminar reporte</a></li>
                      </ul>
                    </div>
                  </td>

                
                </tr>

                <tr  >
                    
                  <td class="w100">A002</td>
                  <td>Cliente 2<br>Tel: 5555555<br>cliente@gmail.com</td>
                  <td>14-05-19<br>
                    13:10
                    </td>
                   <td>
                    Nombre de proyecto 3<br>
                    Proyecto num 2945
                </td>
                <td>
                  <br>
                </td>
                  <td>Empleado 2</td>
                  <td class="text-right">
                    <div class="btn-group text-right">
                      <button type="button" data-toggle="dropdown" aria-expanded="false"class="btn btn-danger br2 btn-xs fs12 dropdown-toggle" >SIN<br> Remisión<span class="caret ml15"></span></button>
                      <ul role="menu" class="dropdown-menu">
                        <li><a href="">Revisar</a></li>
                        <li><a >Generar pdf</a></li>
                        <li><a >Eliminar reporte</a></li>
                      </ul>
                    </div>
                  </td>

                
                </tr>
                
                
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- begin: .tray-right-->
    
  </section>
</section>